@import url(styles/header.css);
@import url(styles/main.css);
@import url(styles/footer.css);

:root {
    --cor-azul: #3772FF;
    --cor-verde: #36D6AD;
    --cor-coral:#FC7071;
    --cor-creme: #FCF0E3;
    --cor-cinza:#737380;
    --cor-cinza-claro: #BCBCBC;
    --cor-cinza-claro-fundos: #F6F6F6;
    --fonte-principal: 'IBM Plex Sans', sans-serif;
    --fonte-secundaria: 'Poppins', sans-serif;


}

body {
    height: 740px;
    background-color: var(--cor-azul);
    background-image: url(img/Forma\ 1.svg), url(img/Forma\ 2.svg);
    background-repeat: no-repeat;
    background-position: left top, right center;
}