.rodape {
    background-color: var(--cor-verde);
    margin-top: 13.5em;
    padding: 2.5em;
    
}

.rodape__texto {
    font-family: var(--fonte-secundaria);
    color: #FFFFFF;
    font-weight: 600;
    text-align: center;
}