.principal {
    text-align: center;
    margin-top: 5em;
}

.principal__imagem {
    margin-bottom: 1em;
}

.principal__texto {
    margin: 1em 1em 0 1em;
    font-family: var(--fonte-secundaria);
    color: var(--cor-azul);
    font-weight: 400;
}