.rodape{
    background-color: var(--cor-verde);
    text-align: center;
    padding: 2.5em;
    margin-top: 1em;
}

.rodape__texto {
    font-family: var(--fonte-secundaria);
    color: #FFFFFF;
}