.rodape {
    display: block;
    position: absolute;
    width: 296px;
    padding: 2em;
    background-color: var(--cor-verde);   
}

.rodape__texto {
    font-family: var(--fonte-secundaria);
    color: #FFFFFF;
    text-align: center;
}

    
